@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;900&display=swap');

body{
	background:rgba(207,197,167,0.2);
	font-family:'Noto Serif TC', serif;
	font-size:30px;
	color:rgba(186,203,174,1);
	text-align:center;
	display:inline-block;
}

article{
	float:left;
	width:100%;
	box-sizing:border-box;
	position:relative;
}

aside{
	position:fixed;
	z-index:10000;
}

.home{
	width:44px;
	height:44px;
	background:url(../images/home_.png) no-repeat;
	background-size:200%;
}

.home:hover{
	background:url(../images/home_.png) no-repeat;
	background-size:200%;
	background-position:-44px 0px;
}

footer{
	font-size:16px;
	color:grey;
}